<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" data-feather="bell"></i>
                        <span class="indicator">4</span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                    <div class="dropdown-menu-header">
                        <a href="{{ path('app_inscription_index') }}" class="list-group-item"> Liste des inscrits </a>
                    </div>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                    <img src="{{ asset('uploads/brochures/'~app.user.brochureFilename )}}" class="avatar img-fluid rounded me-1" alt="{{ app.user.nom }}" /> <span class="text-dark"> {{ app.user.prenom }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{path('user_modifier_profile')}}"><i class="align-middle me-1" data-feather="settings"></i> Modifier profile</a>
                    <a class="dropdown-item" href="{{path('user_modifier_editpass')}}"><i class="align-middle me-1" data-feather="help-circle"></i> Modifier mot de passe</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>