


{{ form_start(form, { 'attr': { 'id': 'dispenser_form' } }) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
    {% for message in app.flashes('module') %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Succès!</strong> {{ message }}

                </div>
            </div>
        </div>
    {% endfor %}

</div>

<div class="row">
    <div class="col-md-6 bg-success-subtle grasmini">
        {{ form_row(form.enseignant, {'label':'Choix professeur ', 'attr':{'class':'select2'}}) }}
        {{ form_row(form.section) }}
        {{ form_row(form.matiere) }}
        {{ form_row(form.classeroom, {'label':'CLasse : ', 'attr':{'class':'form-control'}}) }}
        {{ form_row(form.lesson, {'label':'Leçon ou chapitre ', 'attr':{'class':'form-control'}}) }}
        {{ form_row(form.brochureFilename, {'label':'Téléchargez le cours ', 'attr':{'class':'form-control'}}) }}

    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-3">
        {{ form_row(form.save, {'label':'Valider ','attr':{'value':'save','class':'btn btnvalider'}}) }}
        {{ form_row(form.saveAndAdd, {'label':'Valider et continuer  ','attr':{'value':'save-and-add','class':'btn btnsave'}}) }}
        <a href="{{ path('app_dispenser_index') }}" class="btn btnliste">Afficher la liste</a>

    </div>
</div>




{{ form_end(form) }}

