{% extends 'base.html.twig' %}

{% block title %}Liste des cours
{% endblock %}

{% block body %}
    <h1>Liste des cours</h1>
    {% for message in app.flashes('dispenser') %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> {{ message }}

                </div>
            </div>
        </div>

    {% endfor %}
    <div><a href="{{ path('app_dispenser_new') }}" class="btn btn-outline-primary btns" data-turbo="true"><i class="fa-solid fa-bookmark"></i>&nbsp;&nbsp;Nouveau</a></div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header btn btn-danger">
                    <h4 class="modal-title">Suppression !</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="masupp">
                    Voulez-vous supprimer cet enregistrement ?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                    <form id="my-form">
                        <input type="hidden" class="delete_value" id="delete_value" name="delete_value">
                        <button type="submit" class="btn btn-success" id="delete_values" data-bs-dismiss="modal">
                            Suppression
                        </button>
                    </form>

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                </div>

            </div>
        </div>
    </div>
    <!-- fin modal -->

    <table id="app_elearning" class="table table-striped dt-responsive nowrap table-bordered table-hover" style="width:100%">
        <thead class="table-primary">
            <tr>

                <th class="alignements">Date</th>
                <th class="alignements">Léçon</th>
                <th class="alignements">Cours</th>
                <th style="text-align: center;"># Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 1 %}
            {% for dispenser in dispensers %}

                <tr>

                    <td>{{ date_format(dispenser.createdAt) }}</td>
                    <td>{{ dispenser.lesson }}</td>
                    <td class="alignements">
                        <a href="#" data-value="{{ dispenser.id }}" data-libelle="{{ dispenser.createdAt|date('d-m-Y') }}" data-bs-toggle="modal" data-bs-target="#myModal" id="dispenserid">
                            <img src="{{ asset('img/s_cancel.png') }}" title="Supprimer">
                            Supprimer
                        </a>
                        &nbsp;
                        <a href="{{ path('app_dispenser_edit', {'id': dispenser.id}) }}">
                            <img src="{{ asset('img/b_edit.png') }}" title="Modifier"> Modifier
                        </a>
                    </td>
                    <td>
                        {% if dispenser.brochureFilename is not empty %}
                        <a href="{{ asset('uploads/brochures/' ~ dispenser.brochureFilename) }}">Voir le cours</a>
                        {% else %} {% endif %}
                    </td>
                </tr>


            {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/elearning.js') }}" ></script>

    <script type="application/javascript">

            $(document).ready(function() {

                    var links = document.querySelectorAll('#dispenserid');
                    afficheModal(links);
                    $("#my-form").submit(function(event)
                    {
                            event.preventDefault(); // Empêcher l'envoi du formulaire
                            //console.log($("#my-form").serialize());
                            // Récupérer tous les liens du tableau

                            var url       = "{{ path('app_dispenser_delete') }}";
                            var formData  = $("#my-form").serialize(); // Récupérer les données du formulaire sous forme de chaîne de requête
                            var urlretour = "{{ path('app_dispenser_index') }}";

                            supprimeData(url,formData,urlretour);

                    });
            });
    </script>

{% endblock %}
