{% extends 'base.html.twig' %}

{% block title %}Evaluation index{% endblock %}

{% block body %}
    <h1>Evaluation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Dateevaluation</th>
                <th>Coefficiant</th>
                <th>Totalcoef</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.id }}</td>
                <td>{{ evaluation.note }}</td>
                <td>{{ evaluation.dateevaluation ? evaluation.dateevaluation|date('Y-m-d') : '' }}</td>
                <td>{{ evaluation.coefficiant }}</td>
                <td>{{ evaluation.totalcoef }}</td>
                <td>
                    <a href="{{ path('app_evaluation_show', {'id': evaluation.id}) }}">show</a>
                    <a href="{{ path('app_evaluation_edit', {'id': evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evaluation_new') }}">Create new</a>
{% endblock %}
