{% extends 'base.html.twig' %}

{% block title %}Annee{% endblock %}

{% block body %}
    <h1>Annee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annee.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ annee.libelle }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ annee.createdAt ? annee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedFromIp</th>
                <td>{{ annee.createdFromIp }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ annee.updatedAt ? annee.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedFromIp</th>
                <td>{{ annee.updatedFromIp }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ annee.deletedAt ? annee.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedFromIp</th>
                <td>{{ annee.deletedFromIp }}</td>
            </tr>
            <tr>
                <th>Editable</th>
                <td>{{ annee.editable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annee_index') }}">back to list</a>

    <a href="{{ path('app_annee_edit', {'id': annee.id}) }}">edit</a>

    {{ include('annee/_delete_form.html.twig') }}
{% endblock %}
