{{ form_start(form) }}
   <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
            {% for message in app.flashes('module') %}
                <div class="primary">
                    {{ message }}
                </div>
            {% endfor %}
   
        </div>

<div class="row">
	<div class="col-md-3">
		{{ form_row(form.matiere, {'label':'Matière ', 'attr':{'class':'select2'}}) }}
	</div>

	<div class="col-md-3">
		{{ form_row(form.libelle, {'label':'Module ', 'attr':{'class':'form-control'}}) }}
	</div>

	<div class="col-md-3">
		{{ form_row(form.volumeheure, {'label':'Volume horraire ', 'attr':{'class':'form-control'}}) }}
	</div>

</div>

<div class="row">
	<div class="col-md-2">{{ form_row(form.save, {'label':'Valider ','attr':{'value':'save'}}) }}</div>
	<div class="col-md-2">
		{{ form_row(form.saveAndAdd, {'label':'Valider et continuer  ','attr':{'value':'save-and-add'}}) }}
	</div>

	<div class="col-md-2">
		<a href="{{ path('app_module_index') }}" class="btn btn-success">Afficher la liste</a>
	</div>
</div>

{{ form_end(form) }}
