{{ form_start(form) }}
<div class="my-custom-class-for-errors">
	{{ form_errors(form) }}
	{% for message in app.flashes('enseignant') %}
		<div class="primary">
			{{ message }}
		</div>
	{% endfor %}

</div>

<div class="row">
	<div class="row">
		<div class="col-md-3">
			{{ form_row(form.nom, {'label':'Nom ', 'attr':{'class':'form-control'}}) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.prenom, {'label':'Prenoms ', 'attr':{'class':'form-control'}}) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.contact, {'label':'Contact ', 'attr':{'class':'form-control'}}) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.sexe, {'label':'Sexe ', 'attr':{'class':'form-control'}}) }}
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			{{ form_row(form.facebook, {'label':'Facebook ', 'attr':{'class':'form-control'}}) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.twitter, {'label':'Twitter ', 'attr':{'class':'form-control'}}) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.instagram, {'label':'Instagram ', 'attr':{'class':'form-control'}}) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.brochure, {'label':'Photo ', 'attr':{'class':'form-control'}}) }}
		</div>
	</div>


	<div class="row">
		<div class="col-md-2">{{ form_row(form.save, {'label':'Valider ','attr':{'value':'save'}}) }}</div>
		<div class="col-md-2">
			{{ form_row(form.saveAndAdd, {'label':'Valider et continuer  ','attr':{'value':'save-and-add'}}) }}
		</div>

		<div class="col-md-2">
			<a href="{{ path('app_enseignant_index') }}" class="btn btn-success">Afficher la liste</a>
		</div>
	</div>

	{{ form_end(form) }}
