{% extends 'base.html.twig' %}

{% block title %}Enseignant index
{% endblock %}

{% block body %}

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Cours
			</div>
			<div class="card-header py-3">

				<a href="{{ path('app_enseignant_new') }}">Nouveau</a>
			</h6>
		</div>


		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>

							<th>Nom</th>
							<th>Prenom</th>
							<th>Contact</th>
							<th>Photo</th>


							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for enseignant in enseignants %}
							<tr>

								<td>{{ enseignant.nom }}</td>
								<td>{{ enseignant.prenom }}</td>
								<td>{{ enseignant.contact }}</td>
								<td>


									{% if enseignant.brochureFilename is not empty %}

										<img src="{{ asset('uploads/brochures/'~enseignant.brochureFilename )}}" style="max-width: 10%;  max-height: 20%"/>


										{% else %}Aucune photo
									{% endif %}
								</td>

								<td>
									<a href="{{ path('app_enseignant_show', {'id': enseignant.id}) }}">show</a>
									<a href="{{ path('app_enseignant_edit', {'id': enseignant.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="14">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
