{% extends 'base.html.twig' %}

{% block title %}Depense{% endblock %}

{% block body %}
    <h1>Depense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depense.id }}</td>
            </tr>
            <tr>
                <th>Datedepense</th>
                <td>{{ depense.datedepense ? depense.datedepense|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ depense.montant }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ depense.objet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_depense_index') }}">back to list</a>

    <a href="{{ path('app_depense_edit', {'id': depense.id}) }}">edit</a>

    {{ include('depense/_delete_form.html.twig') }}
{% endblock %}
