{% extends 'layout.html.twig' %}

{% block title %}Profil de {{ app.user.nom }}{% endblock %}

{% block body %}



            {{ form_start(form) }}
        
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}

            </div>
    <div class="row">
        <div class="col-md-4">

            {{ form_row(form.nom, {'label':'Nom utilisateur :','attr':{'class':'form-control'}}) }}
        </div>
          <div class="col-md-4">

            {{ form_row(form.contact, {'label':'Contact :','attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.brochure, {'label':'Photo :','attr':{'class':'form-control'}}) }}
        </div> 
    </div>
  
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-success">{{ button_label|default('Modifier') }}
            </button>
        
        </div></div>

  {{ form_end(form) }}
{% endblock %}
