{% extends 'base.html.twig' %}

{% block title %} Profile de {{ app.user.nom}} {{ app.user.prenom}}
{% endblock %}

{% block body %}





    <section class="content">
        <center>  <h2><u>Modification du compte de {{ app.user.nom}} {{ app.user.prenom}}</u></h2></center>

        {# If there are any errors on the form, display them #}
        <div class="container">
            <div class="row align-items-start">

       

    {{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}

    </div>
    <div class="row">
        <div class="col-md-4">

            {{ form_row(form.nom, {'label':'Nom utilisateur :','attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-md-4">

            {{ form_row(form.prenom, {'label':'Prenom :','attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.brochure, {'label':'Photo :','attr':{'class':'form-control'}}) }}
        </div> 
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-success">{{ button_label|default('Modifier') }}
            </button>

        </div></div>

            {{ form_end(form) }}
        </div>

    </section>


{% endblock %}
