{% extends "base.html.twig" %}

{% block title %}Comptes actifs
{% endblock %}

{% block body %}





    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.card-header -->
                <div class="card-body">

                    {% for message in app.flashes('succes') %}
                        <div class="primary">
                            {{ message }}
                        </div>
                    {% endfor %}


                    {% for message in app.flashes('suppuser') %}
                        <div class="primary">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('activeuser') %}
                        <div class="primary">
                            {{ message }}
                        </div>
                    {% endfor %}
              
                    
                         {% if is_granted('ROLE_ADMIN') %}
                    <a href='{{ path('registration_archive') }}'>
                        <button class="btn btn-danger">Comptes fermés</button>
                    </a>
                        
                    {% endif %}
   
                    <hr style="visibility: hidden" />  

                    <table id="app_elearning" class="table table-striped dt-responsive nowrap table-bordered table-hover" style="width:100%">

                        <thead class="table-primary">
                            <tr>
                                <th>Nom</th>
                                <th>Prénoms</th>
                                <th>Photo</th>
                                <th>Etat</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user %}
                                <tr>
                                    <td>{{ user.nom}}</td>
                                    <td>{{ user.prenom}}</td>




                                    <td>
                                       {% if user.brochureFilename is not empty %}
                                            <img src="{{ asset('uploads/brochures/'~user.brochureFilename )}}"    class="rounded-circle img-fluid" style="width: 150px;"/>  
                                       {% else %} {% endif %}
                                    </td>
                                    <td>
                                        {% if user.deletedAt is null %} <label class="btn bg-olive active"> Actif</label> {% else %} <label class="btn btn-danger"> Inactif</label>  {% endif %}

                                    </td>


                                    <td  class="alignements">
                                
                                            <form method="post" action="{{ path('app_registration_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous fermer ce compte?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">

                                                <button class="btn">
                                                    <img src="{{ asset('img/s_cancel.png') }}" title="Fermer">
                                                       
                                                    </img>
                                                </button>
                                            </form>

                                     
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">aucune donnee trouve</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </section>


{% endblock %}
